<div class="row">
    <div class="col-6 col-sm">
		<h1 class="card-title">My Recipes</h1>
	</div>
	 <div class="col-6 col-sm sm-pad-top">
		<%= link_to 'New Recipe', new_recipe_path, class: "btn btn-sm btn-primary float-right" %>
	</div>
</div>

<% @recipes.each do |recipe| %>

 <div class="card flex-row flex-wrap text-black">
  <img class="card-img" src="//placehold.it/200" alt="Card image">
  <div class="card-img-overlay">
    <h5 class="card-title recipe-title"><%= recipe.name %></h5>
    <p class="card-text">Prep time <%= recipe.prep_time %>, Cook time <%= recipe.prep_time %>, Serves <%= recipe.serves %></p>
    <p>Description</p>
    <%= link_to 'Show', recipe, class: "btn btn-sm btn-outline-primary" %>
    <%= link_to 'Edit', edit_recipe_path(recipe), class: "btn btn-sm btn-outline-secondary" %>
    <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger" %>
  </div>
</div>

<br />
<% end %>
