<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Serves:</strong>
  <%= @recipe.serves %>
</p>

<p>
  <strong>Prep time:</strong>
  <%= @recipe.prep_time %> minutes
</p>

<p>
  <strong>Cook time:</strong>
  <%= @recipe.cook_time %> minutes
</p>

<p>
  <strong>Prep instructions:</strong>
  <%= @recipe.prep_instructions %>
</p>

<p>
  <strong>Cook instructions:</strong>
  <%= @recipe.cook_instructions %>
</p>

<p>
  <strong>Ingredients:</strong>
  <ul>
    <% @recipe.portions.each do |portion| %>
      <li><%= "#{pluralize(portion.quantity.round, portion.measurement)}" %> of <%= portion.ingredient.name %></li>
    <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
