<p id="notice"><%= notice %></p>

  
  <div class="row">
    <div class="col-6 col-sm">
      <h1>Ingredients</h1>
    </div>
    <div class="col-6 col-sm sm-pad-top">
     <%= link_to 'New Ingredient', new_ingredient_path, class: "btn btn-sm btn-primary float-right"  %>
    </div>
  </div>



<table class="table table-striped">
  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.name %></td>
        <td class="no-pad"><%= link_to 'Show', ingredient, class: "btn btn-sm btn-outline-primary"  %></td>
        <td class="no-pad"><%= link_to 'Edit', edit_ingredient_path(ingredient), class: "btn btn-sm btn-outline-secondary"  %></td>
        <td class="no-pad"><%= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
