<p id="notice"><%= notice %></p>

<h1>Cookbooks</h1>

<div class="card-deck">
  <% @cookbooks.each do |cookbook| %>
      <div class="card">
        <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center"><%= cookbook.name %></h5>
        <%= link_to 'Show', cookbook, class: "btn btn-sm btn-outline-primary" %>
        <%= link_to 'Edit', edit_cookbook_path(cookbook), class: "btn btn-sm btn-outline-secondary" %>
        <%= link_to 'Destroy', cookbook, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger float-right" %>
        </div>
      </div>
  <% end %>
</div>

<br />
<div class="text-center">
<%= link_to 'New Cookbook', new_cookbook_path, class: "btn btn-sm btn-primary" %>
</div>