<h1>All Cookbooks</h1>


<% @cookbooks.in_groups_of(4) do |group| %>
  <div class="card-deck">
    <% group.each do |cookbook| %>
      <% if cookbook %>
        <div class="card">
          <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center"><%= cookbook.name %>&nbsp;<span class="badge badge-secondary"><%= cookbook.recipes.count %></span></h5>
            <p class="card-text text-center">By <%= link_to cookbook.user.name, cookbook.user %></p>
          <%= link_to 'Show', cookbook, class: "btn btn-sm btn-outline-primary" %>
          <%= link_to 'Edit', edit_cookbook_path(cookbook), class: "btn btn-sm btn-outline-secondary" %>
          <%= link_to 'Destroy', cookbook, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger float-right" %>
          </div>
        </div>
      <% else %>
        <div class="card invisible">
        </div>
      <% end %>
    <% end %>
  </div> <br />
<% end %>

<br />
<div class="text-center">
<%= link_to 'New Cookbook', new_cookbook_path, class: "btn btn-sm btn-primary" %>
</div>